.search-component {
    width: 250px;
    background: #f7f8fa;
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    .border{
        border: 1px solid #bdc7d66b;
        margin-left: 10px;
        height: 20px;
    }
    .search-input{
        margin-left: 10px;
        input{
            border: 0px;
            background: unset;
            outline: none;
            &::placeholder{
                font-size: 12px;
                color: #ccd3e0;
                letter-spacing: 0.5px;
                font-weight: 500;
            }
        }
    }
}