.card-component{
    width: 178px;
    background: #fff;
    padding: 30px;
    margin-right: 26px;
    border-radius: 15px;
    display: inline-block;
    padding-bottom: 20px;
    .card-title{
        color: #78808c;
        font-weight: 500;
        font-size: 14px;
    }
    .card-value{
        font-size: 36px;
        font-weight: 800;
        display: flex;
        align-items: center;
        .card-img{
            margin-left: 10px;
        }
    }
}